@mixin before_figura {
    &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -40px;
    right: -29px;
    width: 167px;
    height: 167px;
    opacity: 0.3;
    background-color: #00c2f0;
    }
}
@mixin before_right {
    &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -40px;
    left: -29px;
    width: 167px;
    height: 167px;
    opacity: 0.3;
    background-color: #00c2f0;
    }
}